# Django stuff:
*.log
*.sqlite3
*.sqlite3-journal
*.data
.DS_Store
local.py
*.db
staticfiles

# Celery
celerybeat*

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class
*.pyc

# Environments
venv/

# local env files
.env

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
