Django==4.2.11
django-environ==0.10.0
Pillow==10.3.0
social-auth-app-django==5.4.1
celery==5.3.1
redis==4.5.5
flower==2.0.0
braintree==4.21.0
weasyprint==59.0
psycopg==3.1.10
python-jose==3.3.0
gunicorn==22.0.0
djangorestframework==3.14.0
djoser==2.2.0
black==24.3.0
flake8==6.0.0
pre-commit==3.2.2
isort==5.12.0
django-tailwind==3.6.0
django-browser-reload==1.11.0
