{% extends "shop/base.html" %}

{% load static %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Products
    {% endif %}
{% endblock %}

{% block content %}
<body class="bg-gray-100">
    <div class="flex">
        <div class="w-1/6 bg-gray-300 p-4 border-r-4 border-gray-800" style="min-height: 100vh;">
            <h2 class="text-4xl font-semibold mb-4 text-right">Categories</h2>
            
            {% for c in categories %}
            <ul class="space-y-2 text-right">
                <li><a href="{{ c.get_absolute_url }}" class="text-blue-500 hover:underline text-2xl">{{ c.name }}</a></li>
            </ul>
            {% endfor %}

        </div>
        
        <div class="w-3/4 p-4">
            <h1 class="text-4xl font-semibold mb-4">Products</h1>
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-12">
                {% if not products_search %}
                {% for product in products %}
                <a href="{{ product.get_absolute_url }}">
                <div class="bg-white p-2 shadow-md rounded-md">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %} https://png.pngtree.com/png-clipart/20191120/original/pngtree-not-found-outline-icon-vectors-png-image_5053765.jpg {% endif %}" alt="" class="w-full h- object-cover mb-2">
                    <h3 class="text-lg font-semibold">{{ product.name }}</h3>
                    <p class="text-gray-600">Price: ${{ product.price }}</p>
                </div>
                </a>
                {% endfor %}
                {% else %}
                
                {% for product in products_search %}
                    
                <a href="{{ product.get_absolute_url }}">
                    <div class="bg-white p-2 shadow-md rounded-md">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %} https://png.pngtree.com/png-clipart/20191120/original/pngtree-not-found-outline-icon-vectors-png-image_5053765.jpg {% endif %}" alt="" class="w-full h- object-cover mb-2">
                        <h3 class="text-lg font-semibold">{{ product.name }}</h3>
                        <p class="text-gray-600">Price: ${{ product.price }}</p>
                    </div>
                    </a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
