{% extends "shop/base.html" %}
{% load static %}

{% block title %}
Your shopping cart
{% endblock %}

{% block content %}
<!-- Create By Joker Banny -->
<style>
    @layer utilities {

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
</style>

<body>
    <div class="h-screen bg-gray-100 pt-20">
        <h1 class="mb-10 text-center text-2xl font-bold">Cart Items</h1>
        <div class="mx-auto max-w-5xl justify-center px-6 md:flex md:space-x-6 xl:px-0">

            <div class="rounded-lg md:w-2/3">
                {% for item in cart %}
                {% with product=item.product %}
                <div class="justify-between mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}https://png.pngtree.com/png-clipart/20191120/original/pngtree-not-found-outline-icon-vectors-png-image_5053765.jpg{% endif %}"
                        alt="product-image" class="w-10 rounded-lg sm:w-40" />
                    <div class="sm:ml-4 sm:flex sm:w-full sm:justify-between">
                        <div class="mt-5 sm:mt-0">
                            <h2 class="text-lg font-bold text-gray-900">{{ product.name }}</h2>
                        </div>

                        <div class="mt-4 flex justify-between sm:space-y-6 sm:mt-0 sm:block sm:space-x-6">
                            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.update }}
                                <input type="submit" value="Update">
                                {% csrf_token %}
                            </form>
                            <a href="{% url 'cart:cart_remove' product.id %}">
                                <div class="flex items-center space-x-4">
                                    <p class="text-sm"></p>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor"
                                        class="h-5 w-5 cursor-pointer duration-150 hover:text-red-500">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% endwith %}
                {% endfor %}
            </div>

            <div class="mt-6 h-full rounded-lg border bg-white p-6 shadow-md md:mt-0 md:w-1/3">
                <div class="mb-2 flex justify-between">
                    <p class="text-gray-700">Subtotal</p>
                    <p class="text-gray-700">${{ cart.get_total_price }}</p>
                </div>
                {% if cart.coupon %}
                <div class="flex justify-between">
                    <p class="text-gray-700">Coupon:</p>
                    <p class="text-gray-700">- ${{ cart.get_discount|floatformat:"2" }}</p>
                </div>
                {% endif %}
                <hr class="my-4" />
                <div class="flex justify-between">
                    <p class="text-lg font-bold">Total</p>
                    <div class="">
                        <p class="mb-1 text-lg font-bold">${{ cart.get_total_price_after_discount|floatformat:"2" }}</p>
                    </div>

                </div>
                <a href="{% url 'orders:order_create' %}">
                <button
                    class="mt-6 w-full rounded-md bg-blue-500 py-1.5 font-medium text-blue-50 hover:bg-blue-600">Check
                    out</button>
                </a>
                <form class="w-full max-w-sm" action="{% url 'coupons:apply' %}" method="post">
                    {% csrf_token %}
                    <div class="flex items-center border-b border-teal-500 py-2">
                        <input
                            class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                            type="text" placeholder="Coupon" aria-label="Full name" name="code">
                        <button
                            class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
                            type="submit">
                            Apply
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}